package views

import "yourproject/components"

templ Home() {
    @components.Layout("Cthulhu Investigator Generator") {
        @components.Navbar()
        
        <div id="main-content">
            @components.Hero()
            @components.Features()
            @components.HowItWorks()
            @components.PrivacySection()
            @components.Footer()
        </div>
        
        @components.CharacterSheet()
        @components.Modals()
    }
}