package components

templ FormHeader(title string, description string) {
    <div class="mb-4 text-center">
        <h2 class="fw-bold mb-2 form-section-header">{title}</h2>
        <p class="mb-4" style="color: var(--color-text-primary); font-size: 1.2rem;">{description}</p>
    </div>
}
